<! The main page, showing the blog entries >
{% extends "layout.html" %}
{% block body %}


<ul class=entries>

{% for entry in entries %}
<li><h2>{{entry.username}}: {{ entry.title }} - {{entry.score}} point(s)</h2>
<h3  name=time>{{ entry.time }}</h3>
<br>{{ entry.text|safe }}

{% if session.admin == True and session.logged_in %}
<form action="{{ url_for('restore_staged') }}"  method=post class=delete-entry>
<br><button type="submit" value={{entry.etime}} name="stage">Restore to staged</button>
</form>

<form action="{{ url_for('restore_post') }}"  method=post class=delete-entry>
<br><button type="submit" value={{entry.etime}} name="post">Restore to forum</button>
</form>

{% endif %}
{% else %}
<li><em> No deleted entries</em>
{% endfor %}
</ul>
{% endblock %}
